# Dependencies
node_modules/
package-lock.json

# Environment variables & secrets
.env
backend/.env

# System & temporary files
.DS_Store
Thumbs.db
*.log

# Scratch & runner files
backend/tempCodeRunnerFile.js
dummy